.carousel-wrapper:before,
.carousel-wrapper:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.carousel-wrapper {
  --color-transparent: rgba(0, 0, 0, 0);
  --color-black-opaque: rgb(0, 0, 0, 0.9);
  --linear-gradient-left: linear-gradient(to left, var(--color-transparent), var(--color-black-opaque));
  --linear-gradient-right: linear-gradient(to right, var(--color-transparent), var(--color-black-opaque));
}

.carousel-wrapper:before {
  left: 0;
  background: var(--linear-gradient-left);
}

.carousel-wrapper:after {
  right: 0;
  background: var(--linear-gradient-right);
}

.carousel {
  white-space: no-wrap;
  animation: 12s slide infinite linear;
}

.carousel-wrapper:hover .carousel {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
